<label><input type="checkbox" <% if (isCompleted) { %> checked="checked" <% }%> />
<span style="text-decoration: <% if (isCompleted) { %>line-through<% } else {%>none<% } %>"><%- title %></span></label>
<a href="#" class="btn btn-danger" data-role="delete" style="float:right;">Remove</a>
<br />