<div class="row">
    <h2>Todo list</h2>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="list-container list-group list-cust">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-container col-md-10">
    </div>
</div>